:root {
  --dropdown-animation-time: 0.2s;
}

.dropdown-container {
  position: relative;
  user-select: none;
}

.dropdown-trigger {
  border-radius: var(--input-border-radius);
  background-color: var(--light-blue); 
  color: var(--light-blue-text);
  padding: var(--input-padding);
  font-size: var(--input-font-size);
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.dropdown {
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  background-color: white;
  border-radius: var(--input-border-radius);
  z-index: 20;
  box-shadow: 1px 1px 1px 0px #cfcfcf;
}

.dropdown-item {
  padding: var(--input-padding);
  color: #383838;
  cursor: pointer;
  font-size: var(--input-font-size);
  font-weight: 500;
  border-radius: var(--input-border-radius);
  transition: 0.2s ease-out;
  display: flex;
  align-items: center;
  gap: 10px;
}

.dropdown-item:hover {
  background-color: var(--light-blue);
  color: var(--light-blue-text);
}

.dropdown-opened {
  animation: var(--dropdown-animation-time) openDropdown ease-out;
  display: block;
}

.dropdown-closed {
  animation: var(--dropdown-animation-time) closeDropdown ease-out;
  display: none;
}

@keyframes openDropdown {
  from {
    opacity: 0;
    pointer-events: none;
  }
  to {
    opacity: 1;
    pointer-events: all;
  }
}

@keyframes closeDropdown {
  from {
    opacity: 1;
    pointer-events: all;
  }
  to {
    opacity: 0;
    pointer-events: none;
  }
}