.filters-button {
  border-radius: 20px;
  background-color: white;
  color: #204ECF;
  font-weight: 500;
  font-size: 22px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 180px;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 30px auto;
  transition: 0.2s ease-out;
}

.filters-button:hover {
  background-color: #5b7edd;
  color: white;
}