.search-bar {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 30px 0 15px 0;
}

.search-bar .input-container {
  background-color: white;
  padding: 15px 20px;
  border-radius: 5px;
  width: 100%;
}

.search-bar .input-container .text-input {
  color: black;
  border: none;
  outline: none;
  font-size: 20px;
  width: 100%;
}