.filters-wrapper {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5, 1fr);
}

.filter-label {
  color: white;
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 5px;
  user-select: none;
}

.custom-date-input {
  background-color: var(--light-blue); 
  outline: none;
  border: none;
  border-radius: var(--input-border-radius);
  color: var(--light-blue-text);
  font-size: var(--input-font-size);
  font-weight: 500;
  padding: var(--input-padding);
  cursor: pointer;
}