.card-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.card-container .card-icon {
  font-size: 45px;
  color: var(--dark-blue);
  animation: spinner 0.8s infinite;
}

.card-container .card-title {
  font-size: 30px;
  font-weight: 500;
}

.card-container .card-description {
  font-size: 20px;
  font-weight: 300;
  margin-top: 5px;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}