.filters-wrapper {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5, 1fr);
}

.filter-label {
  color: white;
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 5px;
  user-select: none;
}